body {
	font-family: sans-serif;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
h1 {
	font-size: 5rem;
}

button {
	padding: 1.56rem 5rem;
	border-radius: 40px;
	cursor: pointer;
	border: 0;
	font-size: 1.2rem;
	letter-spacing: 0.06rem;
	outline: 0;
}
